.masthead {
    background-color: #522073
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #AFA3BF;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}